<ion-view title="Registro de Usuario">
    <div class="bar bar-header bar-energized">
        <a class="button button-icon icon ion-ios-arrow-thin-left" ui-sref="login"></a>
  <h1 class="title">Registro de usuario</h1>
    </div>
    <ion-content overflow-scroll="false"  class="has-header center  degrade-birrias">
          <form name="frmRegistro" novalidate  style="width: 94%;">
        <div class="row card">
          
            <div class="item item-text-wrap" style="width: 100%">
                   
                <h3>Información basica</h3>
                    <label class="item item-input" style="border:1px solid #bdbdbd ">
                      <input type="text" placeholder="Nombres" ng-model="vm.usuario.nombres">
                    </label>
                    <label class="item item-input" style="border:1px solid #bdbdbd ">
                      <input type="text" placeholder="Apellidos" ng-model="vm.usuario.apellidos">
                    </label>
                   <label class="item item-input" style="border:1px solid #bdbdbd ">
                      <input type="number" placeholder="Cedula" ng-model="vm.usuario.cedula">
                    </label>
                    <label class="item item-input" style="border:1px solid #bdbdbd ">
                      <input type="email" placeholder="Correo de su sitio" ng-model="vm.usuario.correositio">
                    </label>
                        <label class="item item-input" style="border:1px solid #bdbdbd ">
                      <input type="password" placeholder="Contraseña de su sitio" ng-model="vm.usuario.passwordsitio">
                    </label>
                  
                </div>
        </div>
         <div class="row card" style="margin-top:8px;">
             <div class="item item-text-wrap" style="width: 100%">
                 <h3>Información de acceso</h3>
                  <label class="item item-input" style="border:1px solid #bdbdbd ">
                      <input type="email" placeholder="Correo personal" ng-model="vm.usuario.correo">
                    </label>
                 <label class="item item-input" style="border:1px solid #bdbdbd ">
                      <input type="password" placeholder="Contraseña" ng-model="vm.usuario.password">
                    </label>
                 <label class="item item-input" style="border:1px solid #bdbdbd ">
                      <input type="password" placeholder="Confirmar Contraseña" ng-model="vm.usuario.passwordconfirmada">
                    </label>
                 
                <button class="button button-balanced"  ng-click="vm.registro()"  ng-disabled="frmRegistro.$invalid" ng-hide="vm.oculto" id="btnRegistro" style="width: 100%;margin-top:8px;">
                    Registrarme
                </button>
             </div>
        </div>

          </form>
    </ion-content>
</ion-view>