<ion-side-menu side="left" ng-controller="MenuCtrl as vm" class="bg-menu">
    <ion-header-bar class="bar bar-energized ">
        <div class="row">
            <div class="col-20">
                <img src="img/logo_min.png" style="width:25px;height: 25px;"> 
            </div> 
            <div class="col-80">
                <h4 style="color:#FFF;margin-top:0px;">Birrias administradores</h4>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="custom content-menu has-header">
        <div style="height:100px;padding-top:10px;">
            <a class="item item-thumbnail-left" menu-toggle="left" ui-sref="cliente.perfil"  style="background-color: transparent;border:0">
                <img src="img/profile-sitio.png" style="border-radius:50%;width:60px;height: 60px" ng-if="vm.sitio.image === 0">
                <img src="{{vm.sitio.ruta}}" style="border-radius:50%;width:60px;height: 60px" ng-if="vm.sitio.image === 1">
                <p style="color:#FFF;font-size:12px;">{{vm.sitio.nombre}}</p>
                <p style="color:#FFF;font-size:11px;">C.C. {{vm.usuario.cedula}}</p>
                <h2 style="font-weight:600;color:#FFF;font-size:12px;">{{vm.usuario.nombres}} {{vm.usuario.apellidos}}</h2>
                <p style="color:#FFF;font-size:11px;">{{vm.usuario.correo}}</p>
              </a>
        </div>
        <ion-list>
            <ion-item  menu-toggle="left" ui-sref="usuario.home"  ng-class="{active : vm.isActive ('/usuario/home')}" ><i class="icon ion-android-home" style="padding-right:5px;"></i> Inicio</ion-item>  
            <ion-item  menu-toggle="left" ui-sref="usuario.historial"  ng-class="{active : vm.isActive ('/usuario/historial')}"><i class="icon ion-android-calendar" style="padding-right:5px;"></i>Historial de reservas</ion-item>  
            <ion-item  menu-toggle="left" href="javascript:;" ng-click="vm.logout();" ><i class="icon ion-android-exit" style="padding-right:5px;"></i> Cerrar Sesión</ion-item>
        </ion-list>
    </ion-content>
</ion-side-menu>