<ion-side-menu side="left" ng-controller="MenuCtrl as vm" class="bg-menu">
    <ion-content class="custom content-menu">
        <div style="height:100px;padding-top:10px;">
            <a class="item item-thumbnail-left" menu-toggle="left" ui-sref="cliente.perfil"  style="background-color: transparent;border:0">
                <img src="img/profile-sitio.png" style="border-radius:50%;width:60px;height: 60px">
                <p style="color:#FFF;font-size:11px;">C.C. {{vm.usuario.cedula}}</p>
                <h2 style="font-weight:600;color:#FFF;font-size:12px;">{{vm.usuario.nombres}} {{vm.usuario.apellidos}}</h2>
                <p style="color:#FFF;font-size:11px;">{{vm.usuario.correo}}</p>
              </a>
        </div>
        <ion-list>
            <ion-item  menu-toggle="left" ui-sref="usuario.home"  ng-class="{active : vm.isActive ('/usuario/home')}" ><i class="icon ion-android-home" style="padding-right:5px;"></i> Inicio</ion-item>  
            <ion-item  menu-toggle="left" ui-sref="usuario.agenda"  ng-class="{active : vm.isActive ('/usuario/agenda')}"><i class="icon ion-android-time" style="padding-right:5px;"></i>Agenda de canchas</ion-item>  
            <ion-item  menu-toggle="left" ui-sref="usuario.historial"  ng-class="{active : vm.isActive ('/usuario/historial')}"><i class="icon ion-android-calendar" style="padding-right:5px;"></i>Historial de reservas</ion-item>  
            <ion-item  menu-toggle="left" href="javascript:;cd C:" ng-click="logout();" ><i class="icon ion-android-exit" style="padding-right:5px;"></i> Cerrar Sesión</ion-item>
        </ion-list>
    </ion-content>
</ion-side-menu>