<ion-view  title="Información de hoy" cache-view="false" class="platform-android4_2" style="background-color:#F3F3F4">
<ion-content overflow-scroll="false" class="has-header">
    <ion-refresher
    pulling-text="Actualizar Información..."
    on-refresh="tickect_pendientes()">
  </ion-refresher>
       <div ng-if='vm.network == false' style='width: 100%; text-align: center;'>
                    <img src="img/notnetwork.png" alt="" width='60%' style='margin-top:20%;'/>
       </div>
   <div ng-if='vm.network == true'>
        <div class="card">
  <div class="item item-divider info">
    Reservas de hoy
  </div>
  <div class="item item-text-wrap">
      <div class="row">
          <div class="col">
              <p class="num-big text-success">5</p>
                <small>Confirmadas</small> 
          </div>
      </div>
     
  </div>
</div> 
    <div class="card">
  <div class="item item-divider info">
    Ingresos de hoy
  </div>
  <div class="item item-text-wrap">
      <div class="row">
          <div class="col">
              <p class="num-small">$0</p>
              <small>Reservas</small>
          </div>
          <div class="col">
              <p class="num-small">$0</p>
              <small>Abonos</small>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <p class="num-big text-success">$0</p>
                <small>Total Ingresos:</small> 
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col" style="text-align: right">
              <p class="num-big text-info">$0</p>
                <small>Posibles Ingresos:</small> 
          </div>
      </div>
  </div>
</div> 
 </div>
</ion-content>
</ion-view>
