<ion-view  title="Información de hoy" cache-view="false" class="platform-android4_2" style="background-color:#F3F3F4">
<ion-content overflow-scroll="false" class="has-header">
    <ion-refresher
    pulling-text="Actualizar Información..."
    on-refresh="vm.getReservasHoy()">
  </ion-refresher>
       <div ng-if='vm.network == false' style='width: 100%; text-align: center;'>
                    <img src="img/notnetwork.png" alt="" width='60%' style='margin-top:20%;'/>
       </div>
   <div ng-if='vm.network == true'>
        <div class="card">
  <div class="item item-divider info">
    Reservas de hoy
  </div>
  <div class="item item-text-wrap">
      <div class="row">
          <div class="col">
              <p class="num-big text-success">{{vm.reservas.length}}</p>
                <small>Confirmadas</small> 
          </div>
          <div class="col">
              <table width="100%">
                  <tr>
                      <td><p>Cumplidas:</p> </td>
                      <td>{{vm.estadisticasReservas.cumplidas}}</td>
                 </tr>
                 <tr>
                     <td><p>Incumplidas:</p> </td> 
                     <td>{{vm.estadisticasReservas.incumplidas}}</td>
                 </tr>
                 <tr>
                     <td> <p>Canceladas:</p></td>
                     <td> {{vm.estadisticasReservas.canceladas}}</td>
                 </tr>
        
             
              </table>  
          </div>
      </div>
     
  </div>
</div> 
    <div class="card">
  <div class="item item-divider info">
    Ingresos de hoy
  </div>
  <div class="item item-text-wrap">
      <div class="row">
          <div class="col">
              <p class="num-small">{{vm.finanzas.realidad | currency:undefined:0}}</p>
              <small>Reservas</small>
          </div>
          <div class="col">
              <p class="num-small">{{vm.finanzas.abonos | currency:undefined:0}}</p>
              <small>Abonos</small>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <p class="num-big text-success">{{vm.finanzas.abonos + vm.finanzas.realidad | currency:undefined:0}}</p>
                <small>Total Ingresos:</small> 
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col" style="text-align: right">
              <p class="num-big text-info">{{vm.finanzas.expectativa | currency:undefined:0}}</p>
                <small>Posibles Ingresos:</small> 
          </div>
      </div>
  </div>
</div> 
 </div>
</ion-content>
</ion-view>
