/* Empty. Add your own CSS if you like */
@font-face{
   font-family: "fg-demi-cond";
   font-style: normal;
   font-weight: normal;
   src: url(../fonts/fg-demi-cond.TTF);
}
@font-face{
    font-family: "Quick-bold";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Quicksand-Bold.otf);
}
@font-face{
    font-family: "Quick-regular";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Quicksand-Regular.otf);
}

p{
    font-family: 'Quick-regular';
}
h2,h4{
    font-family:'Quick-bold';
}
.item.item-divider .badge {
    top: 0px;
}
.degrade-birrias {
    background: -moz-linear-gradient(-45deg, rgba(255, 119, 1, 1) 0, rgba(255, 119, 1, 1) 25%, rgba(226, 65, 70, 1) 100%)!important;
    background: -webkit-gradient(left top, right bottom, color-stop(0, rgba(255, 119, 1, 1)), color-stop(25%, rgba(255, 119, 1, 1)), color-stop(100%, rgba(226, 65, 70, 1)))!important;
    background: -webkit-linear-gradient(-45deg, rgba(255, 119, 1, 1) 0, rgba(255, 119, 1, 1) 25%, rgba(226, 65, 70, 1) 100%)!important;
    background: -o-linear-gradient(-45deg, rgba(255, 119, 1, 1) 0, rgba(255, 119, 1, 1) 25%, rgba(226, 65, 70, 1) 100%)!important;
    background: -ms-linear-gradient(-45deg, rgba(255, 119, 1, 1) 0, rgba(255, 119, 1, 1) 25%, rgba(226, 65, 70, 1) 100%)!important;
    background: linear-gradient(135deg, rgba(255, 119, 1, 1) 0, rgba(255, 119, 1, 1) 25%, rgba(226, 65, 70, 1) 100%)!important;
}

.degrade-birrias-header {
background: rgba(255,119,1,1);
background: -moz-linear-gradient(left, rgba(255,119,1,1) 0%, rgba(227,66,67,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,119,1,1)), color-stop(100%, rgba(227,66,67,1)));
background: -webkit-linear-gradient(left, rgba(255,119,1,1) 0%, rgba(227,66,67,1) 100%);
background: -o-linear-gradient(left, rgba(255,119,1,1) 0%, rgba(227,66,67,1) 100%);
background: -ms-linear-gradient(left, rgba(255,119,1,1) 0%, rgba(227,66,67,1) 100%);
background: linear-gradient(to right, rgba(255,119,1,1) 0%, rgba(227,66,67,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7701', endColorstr='#e34243', GradientType=1 );
color:#FFF;
}


.button{
    border-radius: 0;
     min-height: 40px;
}
.button.button-positive {
    border-color: transparent;
    background-color: #2962ff;
    color: #fff;
}

.button.button-balanced {
    border-color: transparent;
    background-color: #FF7701;
    color: #fff;
   
}

.button.button-assertive {
    border-color: transparent;
    background-color: #b71c1c;
    color: #fff;
   
}

.bar.bar-energized {
    border-color: #FF7701;
    background-color: #FF7701;
    background-image:none;
    color: #fff;
    
}

.bar.bar-assertive {
    border-color: #e42112;
    background-color: #ef473a;
    background-image:none;
    color: #fff;
   
}

.platform-android .bar .title {
    font-size: 16px;
    line-height: 44px;
     font-family: 'Quick-bold';
}


.item-thumbnail-left, .item-thumbnail-left .item-content{
    padding-left:80px;
}

.item-complex .item-content, .item-radio .item-content {
    position: relative;
    z-index: 2;
    padding: 14px 49px 14px 16px;
    border: none;
    background-color:transparent;
    color:#FFF;;
    font-size:14px;
     font-family: 'Quick-regular';
}

.item{
   border-color:transparent;
   background-color: transparent;
   font-family: 'Quick-regular';
}

.item span{
     font-family: 'Quick-bold';
}

.item-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 3px 5px 3px 5px;
}

.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated {
  border-color:transparent;
  background-color:transparent; 
}

.item-divider {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #f5f5f5;
    color: #c62828;
    font-weight: 500;
    font-family: 'Quick-bold';
}

.item.active.item-complex > .item-content, .item.activated.item-complex > .item-content, .item-complex.active .item-content.item-complex > .item-content, .item-complex.activated .item-content.item-complex > .item-content, .item .item-content.active.item-complex > .item-content, .item .item-content.activated.item-complex > .item-content {
    border:0;
    background-color:rgba(0,0,0,0.3);
    border-left: 5px solid #FF7701;
}
.bg-menu{
    background-color:#354546;
    color:#354546;
    background-size:100% 100%;
    background-image:url(../img/bg.menu.jpg);
}
small{
    font-size: 12px;
         font-family: 'Quick-regular';
}
.num-min{
      font-family: 'fg-demi-cond';
}
.num-small{
 font-size:20px !important;   
  font-family: 'fg-demi-cond';
}

.num-big{
     font-size:28px !important; 
      font-family: 'fg-demi-cond';
}

.text-success {
    color: #1c84c6 !important;
}
.text-warning {
    color: #c62828 !important;
}
.text-danger{
    color: #e65100  !important;
}
.text-info{
    color: #9e9e9e !important;
}

.text-primary{
    color:#1b5e20 !important;
}
.miModal
{
    width: 90%;height: 90%;margin-left:5%;margin-top: 5%;background-color:#FFF;
    -webkit-box-shadow: -2px -1px 26px -2px rgba(0,0,0,0.86);
-moz-box-shadow: -2px -1px 26px -2px rgba(0,0,0,0.86);
box-shadow: -2px -1px 26px -2px rgba(0,0,0,0.86);
}

.table{
    width: 100%;
}
.badge-danger, .label-danger {
   display: inline;
    background-color: #ed5565;
    color: #FFF;
    font-weight: 600;
    font-size:16px;
    padding: 3px 8px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    line-height: 1;
    font-family: 'fg-demi-cond';
}

.item .badge {
    display:inline;
    position:relative
}

.icon-vacio{
 font-size: 68px; 
 color:#bdbdbd;
}

.platform-ios input[type="datetime-local"], .platform-ios input[type="date"], .platform-ios input[type="month"], .platform-ios input[type="time"], .platform-ios input[type="week"], .platform-android input[type="datetime-local"], .platform-android input[type="date"], .platform-android input[type="month"], .platform-android input[type="time"], .platform-android input[type="week"] {
    padding-top: 0px; 
   
}
